#
# @flag legacy-peer-deps
#
# Required because `react-simple-maps` (v3.0.0) does not
# declare React 19 in its peer dependencies.
#
# @see https://github.com/zcreativelabs/react-simple-maps/issues/367
#
legacy-peer-deps=true